:root { background-attachment: fixed; }

body{
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    body {
        background-image: url(images/Records.jpg);
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    body {
        background-image: url(images/PolaroidWall.jpg);
    }
}

@media screen and (min-width: 1025px){
    body {
	    background-image: url(images/RecordWall.jpg);
   }
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffce48;
}
  
nav ul li {
    float: right;
    width: 20%;
}
  
nav ul li a {
    display: block;
    color: #FF624C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover:not(.active) {
    background-color: #459195;
}
  
nav ul li a.active {
    background-color: #459195;
}



.nav-label{
    margin-bottom: 10px;
    margin-top: -10px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}



.body-background{
    height: 1000px;
    width: 100%;
    background-color: #ffe8a9da;
}








.fa-user-group{
    color:#FF624C;
    position: static;
}
  
.fa-compact-disc{
    color: #FF624C;
    position: static;
}
  
.fa-circle-question{
    color: #FF624C;
    position: static;
}
  
.fa-envelope{
    color: #FF624C;
    position: static;
}









header{
    width: 100vw;
    z-index: 1;
}

@media (max-height: 360px){
    header {
        margin-top: calc(50vh - 50px);
        height: calc(125vh + 200px);
    }
}

@media (min-height: 361px) and (max-height: 600px){
    header {
        margin-top: calc(50vh - 75px);
        height: calc(125vh + 300px);
    }
}

@media (min-height: 601px){
    header {
        margin-top: calc(50vh - 100px);
        height: calc(125vh + 400px);
    }
}

@media (max-width: 700px) and (min-height: 601px){
    header {
        margin-top: calc(50vh - 75px);
        height: calc(125vh + 300px);
    }
}








.cover {
    z-index: 4;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
}

.cover img{
    margin-bottom: -4px;
}

@media (max-height: 360px){
    .cover img{
        height: 100px;
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .cover img{
        height: 150px;
    }
}

@media (min-height: 601px){
    .cover img{
        height: 200px;
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .cover img{
        height: 150px;
    }
}


  .sleeve {
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    text-align: center;
  }



@media (max-height: 360px){
    .sleeve {
        top: calc(50vh - 50px);
        margin-top: -100px;
        height: calc(75vh + 150px);
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .sleeve {
        top: calc(50vh - 75px);
        margin-top: -150px;
        height: calc(75vh + 225px);
    }
}

@media (min-height: 601px){
    .sleeve {
        top: calc(50vh - 100px);
        margin-top: -200px;
        height: calc(75vh + 300px);
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .sleeve {
        top: calc(50vh - 75px);
        margin-top: -150px;
        height: calc(75vh + 225px);
    }
}

.sleeve img {
    margin-bottom: -4px;
}

@media (max-height: 360px){
    .sleeve img {
        height: 100px;
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .sleeve img {
        height: 150px;
    }
}

@media (min-height: 601px){
    .sleeve img {
        height: 200px;
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .sleeve img {
        height: 150px;
    }
}


.record{
position: -webkit-sticky;
position: sticky;
z-index: 2;
text-align: center;
}

@media (max-height: 360px){
    .record {
        top: calc(50vh - 50px);
        margin-top: calc(-100vh - 100px);
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .record {
        top: calc(50vh - 75px);
        margin-top: calc(-100vh - 150px);
    }
}

@media (min-height: 601px){
    .record {
        top: calc(50vh - 100px);
        margin-top: calc(-100vh - 200px);
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .record {
        top: calc(50vh - 75px);
        margin-top: calc(-100vh - 150px);
    }
}

.record img{
    margin-bottom: -4px;
    margin-top: -0.4px;
}

@media (max-height: 360px){
    .record img {
        height: 100px;
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .record img {
        height: 150px;
    }
}

@media (min-height: 601px){
    .record img {
        height: 200px;
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .record img {
        height: 150px;
    }
}

.player{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(26, 26, 26, 0.253);
    z-index: 1;
    text-align: center;
}

@media (max-height: 360px){
    .player {
        margin-top: -150.4px;
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .player {
        margin-top: -200.8px;
    }
}

@media (min-height: 601px){
    .player {
        margin-top: -300.8px;
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .player {
        margin-top: -225.8px;
    }
}

.player img{
    z-index: 1;
}

@media (max-height: 360px){
    .player img {
        height: 100px;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 33.3px;
    }
}

@media (min-height: 361px) and (max-height: 600px){
    .player img {
        height: 150px;
        padding-bottom: 50px;
        padding-top: 50px;
        padding-left: 49.8px;
    }
}

@media (min-height: 601px){
    .player img {
        height: 200px;
        padding-bottom: 100px;
        padding-top: 100px;
        padding-left: 66.2px;
    }
}

@media (max-width: 700px) and (min-height: 601px){
    .player img {
        height: 150px;
        padding-bottom: 75px;
        padding-top: 75px;
        padding-left: 49.8px;
    }
}